.title__input--large {
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 150px;
  border: none;
  text-align: center;
  background-color: var(--light-background-color);
  color: var(--basic-font-color);
  font-weight: 800;
  font-size: 2rem;
}